body {
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/181/419/original/john-neil-LhEjriSOk38-unsplash.jpg?1788757086");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Manrope", sans-serif;
  color: black;
}

h1 {
  text-align: center;
  font-size: 36px;
  color: #321a3e;
}

select {
  display: block;
  width: 100%;
  border-radius: 5px;
  padding: 10px;
  font-size: 18px;
}

h2 {
  margin: 0 0 5px;
  font-size: 28px;
  color: #321a3e;
}

.local-time {
  text-align: center;
  font-size: 26px;
  font-weight: bold;
  margin: 30px 0;
  color: #321a3e;
}

.container {
  max-width: 600px;
  margin: 60px auto;
  padding: 30px;
  max-width: 600px;
  background: #fbdaaf;
  opacity: 75%;
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.city {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
  padding: 30px 10px;
  border-bottom: 1px dotted #321a3e;
}

.city:last-child {
  border: none;
}

.date {
  opacity: 0.7;
}

.time {
  font-size: 48px;
  font-weight: bold;
  color: #c2051e;
}

.time small {
  font-size: 24px;
  vertical-align: middle;
  line-height: 36px;
}

footer {
  text-align: center;
  font-size: 16px;
  color: white;
}
